includes:
  - phpstan-baseline.neon

parameters:
  level: 2

  paths:
    - includes
    - pages
    - scripts

  excludePaths:
    analyse:
      - laravel
      - vendor
      - frontend
      - react-dist (?)
      - content
      - logs

  tmpDir: .phpstan-cache

